* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kalam", cursive;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding: 0.3em 0;
}

nav a {
    padding: 2em;
}

nav a:hover {
    text-decoration: underline;
}

div img {
    width: 100%;
}

article {
    display: block;
    margin: 1em;
}    

h2 {
    font-size: clamp(1rem, 2.5vw, 2rem); 
    border-bottom: solid 2px #6f6f6f;
}

p {
    padding: 1em 0;
}

.btn {
    display: block;
    margin: auto;
    text-align: center;
    border:solid 2px #8c8c8c;
    border-radius: 50px;
    width: 180px;
    background-color: lightgray;
} 

.btn:hover {
    background-color: #8c8c8c;
    cursor: pointer;
}


/*style setting for section__1 */

.section__1 article {
    margin: 5em;
}


.section__1 article img {
    border-radius: 5%;
    float: right;
    width: 250px;
    margin: 1em;
}      /* end of style setting for section__1 */



/*style setting for section__2 */

.section__2 article {
    border:solid #b0d2cb;
    border-width: 2px 2px 2px 15px;
    background-color: #f8fffe;
    padding-bottom: 8em;
    margin: 5em;
}

.section__2 h2 {
    margin-left: 2.5em;
    border-bottom: none;
}

.section__2 article img {
    float: left;
    width: 250px;
    margin: 1.5em;
}        /* end of style setting for section__2 */



/*style setting for section__3 */

.section__3 h2 {
    margin: 0 2.5em;
}

.section__3 form {
    margin: 5em;
    background-color: #b0d2cb;
    border: solid 30px #b0d2cb ;
    border-radius: 10px;
}

.section__3 div.main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items:center;
}

.section__3 div.submission {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

button {
    display:block;
    margin: auto;
    padding: 0.2em 1em;
    border: solid 2px #6f6f6f;
    border-radius: 10px;
}

button:hover {
    background-color: #8c8c8c;
    cursor: pointer;
}         /* end of style setting for section__3 */



/*style setting for footer*/

footer {
    background-color: chocolate;
    padding: 0.5em;
    color: white;
    font-size: 1.5rem;
}          /* end of style setting for footer */


/* try @media for responsive webpage */


@media screen and (max-width: 650px) {
    nav {
    display: flex;
    flex-direction: column;
    }

    nav a {
        padding: 0 0.5em;
    }

    .section__1 article {
        margin: 1em;
    }

    .section__1 article img {
        width: 50%;
        margin: 1em;
    }

    .section__2 article {
        margin: 1em;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section__2 article img {
        width: 80%;
        margin: 0.5em;
    }

    .section__2 article p {
        margin: 0.5em;
        padding: 0;
    }

    .section__2 article h2 {
        margin: 0.5em;
    }

    .section__3 form {
        margin: 1em;
        border: solid 15px #b0d2cb ;
    }

    .section__3 div.submission {
        flex-direction: column;
        padding: 0.2em;
    }

    footer {
        font-size: 1rem;
    }   
}